/*
 * The syntax light mode typography colors
 */

@mixin light-scheme {
  /* Framework color */
  --main-bg: rgb(255, 255, 255);
  --mask-bg: #c1c3c5;
  --main-border-color: rgb(211, 173, 60, 0.5);

  /* Common color */
  --text-color: #0c0c0c;
  --text-muted-color: #3c3c3c;
  --heading-color: black;
  --blockquote-border-color: #eeeeee;
  --blockquote-text-color: #9a9a9a;
  --link-color: rgb(210,211,219);
  --link-underline-color: #dee2e6;
  --button-bg: white;
  --btn-border-color: rgb(211, 173, 60, 0.5);
  --btn-backtotop-color: #686868;
  --btn-backtotop-border-color: #f1f1f1;
  --btn-box-shadow: #eaeaea;
  --checkbox-color: #c5c5c5;
  --checkbox-checked-color: #07a8f7;
  --img-bg:  rgba(248, 248, 248, 0);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(232, 230, 230, 1) 50%,
    rgba(250, 250, 250, 0) 100%
  );

  /* Sidebar */
  --sidebar-bg: rgb(210,211,219);
  --sidebar-muted-color: #636363;
  --sidebar-active-color: #1d1d1d;
  --sidebar-hover-bg: rgb(227, 227, 227, 0.64);
  --sidebar-btn-bg: rgb(237, 225, 186);
  --sidebar-btn-color: #8e8e8e;
  --avatar-border-color: rgb(237, 225, 186);

  /* Topbar */
  --topbar-bg: rgb(218, 218, 218);
  --topbar-text-color: #0c0c0c;
  --search-wrapper-border-color: rgb(211, 173, 60, 0.5);
  --search-tag-bg: #f8f9fa;
  --search-icon-color: #c2c6cc;
  --input-focus-border-color: #b8b8b8;

  /* Home page */
  --post-list-text-color: dimgray;
  --btn-patinator-text-color: #555555;
  --btn-paginator-hover-color: var(--sidebar-bg);
  --btn-paginator-border-color: var(--sidebar-bg);
  --btn-text-color: #676666;

  /* Posts */
  --toc-highlight: #563d7c;
  --btn-share-hover-color: var(--link-color);
  --card-bg: rgba(211, 173, 60, 0.1);
  --card-hovor-bg: rgb(211, 173, 60, 0.5);
  --card-shadow: rgb(104, 104, 104, 0.05) 0 2px 6px 0,
    rgba(211, 209, 209, 0.15) 0 0 0 1px;
  --label-color: #616161;
  --relate-post-date: rgba(30, 55, 70, 0.4);
  --footnote-target-bg: lightcyan;
  --tag-bg: rgba(0, 0, 0, 0.075);
  --tag-border: rgb(211, 173, 60, 0.5);
  --tag-shadow: var(--btn-border-color);
  --tag-hover: rgb(222, 226, 230);
  --tb-odd-bg: #fbfcfd;
  --tb-border-color: #eaeaea;
  --dash-color: silver;
  --kbd-wrap-color: #bdbdbd;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: rgb(237, 225, 186);
  --prompt-text-color: rgb(46, 46, 46, 0.77);
  --prompt-tip-bg: rgb(123, 247, 144, 0.2);
  --prompt-tip-icon-color: #03b303;
  --prompt-info-bg: #e1f5fe;
  --prompt-info-icon-color: #0070cb;
  --prompt-warning-bg: rgb(255, 243, 205);
  --prompt-warning-icon-color: #ef9c03;
  --prompt-danger-bg: rgb(248, 215, 218, 0.56);
  --prompt-danger-icon-color: #df3c30;

  [class^='prompt-'] {
    --link-underline-color: rgb(219, 216, 216);
  }

  .dark {
    display: none;
  }

  /* Categories */
  --categories-border: rgba(0, 0, 0, 0.125);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: darkslategray;
  .categories {
    .card-header {
      background-color: rgb(211, 173, 60, 0.5) !important;
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);
      background-color: rgb(211, 173, 60, 0.2) !important;
      &:last-child {
        border-bottom-color: rgb(211, 173, 60, 0.2) !important;
      }
    }
  }

  /* Archive */
  --timeline-color: rgba(0, 0, 0, 0.075);
  --timeline-node-bg: #c2c6cc;
  --timeline-year-dot-color: rgb(237, 225, 186);
} /* light-scheme */
